<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

    <head>
        {% include "includes/head.twig" %}
        {% include basekit.headScript %}
    </head>

        <!-- Main Widget Zone -->
        {% block content %}
        {% endblock %}

        {% include basekit.bodyScript %}

    </body>
</html>
